<mat-toolbar>
  <span class="navbar"> <mat-icon> accessibility </mat-icon> Welcome to INDIAN STATES </span>
  <div class="spacer"></div>
  <!-- <a mat-raised-button color="primary"> <img src="assets/images/JK.jpg" > Jammu & Kashmir </a> -->

  <a mat-raised-button color="primary" target={{myJK}} > Jammu & Kashmir  </a>
  <a mat-raised-button color="primary" > Maharashtra </a>
  <a mat-raised-button color="warn" > Andhra Pradesh </a>
  <a mat-raised-button color="primary" > Karnataka </a>

</mat-toolbar>

<router-outlet> </router-outlet>

